<ol>
  <li><%= link_to "Setup", tutorials_breakout_index_path %></li>
  <li><%= link_to "Create a Circle", tutorials_breakout_draw_a_circle_path %></li>
  <li><%= link_to "Add Some Color", tutorials_breakout_add_some_color_path %></li>
  <li><%= link_to "Action", tutorials_breakout_action_path %></li>
  <li>Library: an Interlude</li>
  <li>Bounce</li>
  <li>Add a Paddle</li>
  <li>The Keyboard</li>
  <li>The Mouse</li>
  <li>The Touch</li>
  <li>The Bricks</li>
  <li>Finished Touches</li>
  <li>Coda</li>
</ol>