<div class="row">
  <div class="twelve columns">
    <h3 class="medium-weight">
      <%= link_to "Make a Breakout clone with HTML5's <canvas> element",
                  page_path("games/breakout/index") %></h3>
  </div>
</div>
<div class="row">
  <div class="eight columns">
    <p>
      Here is a re-creation of Bill Mill's <a href="http://billmill.org/static/canvastutorial/index.html" target="_blank">excellent canvas tutorial</a> with CoffeeScript
    </p>

  </div>
  <div class="four columns">
    <h5 class="light-weight">Recent Tutorials</h5>
    <div id="recent_tutorials" class="well">

      <div class="row">
        <div class="three columns">
          <img src="http://placehold.it/64x64">
        </div>
        <div class="eight columns">
          This is a callout with three columns on the left (for the avatar) and nine columns here for the text.
        </div>
      </div>

      <div class="row">
        <div class="three columns">
          <img src="http://placehold.it/64x64">
        </div>
        <div class="eight columns">
          This is a callout with three columns on the left (for the avatar) and nine columns here for the text.
        </div>
      </div>


      <div class="row">
        <div class="three columns">
          <img src="http://placehold.it/64x64">
        </div>
        <div class="eight columns">
          This is a callout with three columns on the left (for the avatar) and nine columns here for the text.
        </div>
      </div>

    </div>
  </div>
</div>