<div class="row">
  <div class="twelve columns">
    <h3 class="medium-weight">
      <%= link_to "Make a Breakout clone with HTML5's <canvas> element",
                  tutorials_breakout_index_path %></h3>
  </div>
</div>
<div class="row">
  <div class="eight columns">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Here is a re-creation of Bill Mill's <a href="http://billmill.org/static/canvastutorial/index.html" target="_blank">excellent canvas tutorial</a> with CoffeeScript
    </p>

  </div>
  <div class="four columns">
    <!-- <h5 class="light-weight">Recent Tutorials</h5> -->
    <div id="recent_tutorials" class="well">

      <div class="row">
        <div class="three columns">
          <img src="http://placehold.it/64x64">
        </div>
        <div class="eight columns">
          This is a callout with three columns on the left (for the avatar) and nine columns here for the text.
        </div>
      </div>

      <div class="row">
        <div class="three columns">
          <img src="http://placehold.it/64x64">
        </div>
        <div class="eight columns">
          This is a callout with three columns on the left (for the avatar) and nine columns here for the text.
        </div>
      </div>


      <div class="row">
        <div class="three columns">
          <img src="http://placehold.it/64x64">
        </div>
        <div class="eight columns">
          This is a callout with three columns on the left (for the avatar) and nine columns here for the text.
        </div>
      </div>

    </div>
  </div>
</div>