.heavy-weight {
  font-weight: 500 !important;
}
.medium-weight {
  font-weight: 400 !important;
}
.light-weight {
  font-weight: 300 !important;
}
header {
  background-color: #272822;
  margin-bottom: 15px;
  border-bottom: 2px solid #111;
  h1 {
    font-family: Courier;
    padding: 10px 0;
    color: #858EF4;
  }
}